<% if current_user.is_admin? %>
  <% if @club.features.blank? %>
    <button type="button" class="btn blue-btn btn-xs" 
    data-toggle="modal" data-target="#AddFeature" id="features-add">
      <i class="fa fa-plus" style="font-size: 12px; margin-right: 2px;"></i>
      <b>Añadir</b>
    </button>
    <div class="modal fade" id="AddFeature">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">
              Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Añadir</h4>
          </div>
          <div class="modal-body">
            <%= form_for :feature, url: club_features_path(@club), remote: true do |f| %>
              <div class="row">
                <%= f.label "Tipo de servicio o comodidad" %><br>
                <%= f.text_field :name %>
              </div>
              <div class="row">
                <%= f.submit "Aceptar"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <button type="button" class="btn blue-btn btn-xs" 
    data-toggle="modal" data-target="#EditFeature">
      <i class="fa fa-pencil" style="font-size: 12px; margin-right: 2px;"></i>
      <b>Editar</b>
    </button>
    <div class="modal fade" id="EditFeature">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">
                Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Editar</h4>
          </div>
          <div class="modal-body">
            <% @club.features.each do |f| %>
              <%= form_for :feature, url: club_feature_path(@club, f),
              method: :patch, remote: true do |f| %>
                <div class="row">
                  <%= f.label "Tipo de servicio o comodidad" %><br>
                  <%= f.text_field :name %>
                </div>
                <div class="row">
                  <%= f.submit "Aceptar"%>
                </div>
              <% end %>
            <% end %>  
          </div>
        </div>
      </div>
    </div>  
  <% end %>
<% end %>  