<head>
  <title><% @title = @club.name %></title>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @club.name %>">
    <meta property="og:url" content="<%= request.url%>">
    <meta property="og:site_name" content="Flyr">
  <% end %>
</head>
<body class="club-show">
  <div class="container club-main-container">
    <div class="club-left-column">
      <div class="features">
        <span class="features-title">
          <b>Servicios y comodidades</b>
          <div class="features-btns">
            <%= render 'featuresButtons' %>
          </div>
        </span>
        <div class="features-list">
          <%= render 'features' %>
        </div> 
      </div>
      <div class="music">
        <span class="music-title">
          <b>Música</b>
          <div class="music-btns">
            <%= render 'musicsButtons' %>
          </div>
        </span>
        <div class="music-list">
          <%= render 'musics' %>
        </div> 
      </div>
    </div>
    <div class="club-mid-column">
      <div class="club-logo-info">
        <img class="club-logo" src="<%= @club.logo.url %>" href="<%= @club.logo.url %>">
        <div class="club-info">
          <span class="club-name"><%= @club.name %></span>
          <br>
          <span class="club-events-info">
            <% if @eventsNumber == 1 %>
              <b class="events-lists-count"><%= @eventsNumber %></b><span>Evento</span>
            <% else %>  
              <b class="events-lists-count"><%= @eventsNumber %></b><span>Eventos</span>
            <% end %>  
            <% if @listsNumber == 1 %>
              <b class="events-lists-count"><%= @listsNumber %></b><span>Lista</span>
            <% else %>  
              <b class="events-lists-count"><%= @listsNumber %></b><span>Listas</span>
            <% end %>  
          </span>
        </div>
        <div class="club-social-networks">
          <div class="social-links-container">
            <a href="<%= @club.facebook %>" target="_blank" title="<%= @club.name %> en Facebook"
              class="club-social-links"><i class="fa fa-facebook fb-icon"></i></a>
            <a href="<%= @club.googleplus %>" target="_blank" title="<%= @club.name %> en Google+"
              class="club-social-links"><i class="fa fa-google-plus google-plus-icon"></i></a>
            <a href="<%= @club.twitter %>" target="_blank" title="<%= @club.name %> en Twitter"
              class="club-social-links"><i class="fa fa-twitter twitter-icon"></i></a>
            <a href="<%= @club.instagram %>" target="_blank" title="<%= @club.name %> en Instagram"
              class="club-social-links"><i class="fa fa-instagram instagram-icon"></i></a>
            <a href="<%= @club.youtube %>" target="_blank" title="<%= @club.name %> en Youtube"
              class="club-social-links"><i class="fa fa-youtube youtube-icon"></i></a>
          </div>
        </div>
        <div class="buttons">
          <% if current_user.is_admin? || 
            current_user.is_pr? && current_user.club_id == @club.id %>
            <button type="button" class="mint-btn btn-sm" 
            data-toggle="modal" data-target="#CreateEvent">
            <i class="fa fa-plus"></i>
            <b>Nuevo Evento</b>
            </button>
          <% end %>  
          <% if current_user.is_admin? %>
            <button type="button" class="mint-btn btn-sm" 
            data-toggle="modal" data-target="#EditProfile">
            <i class="fa fa-pencil"></i>
            <b>Editar Perfil</b>
            </button>
            <%= link_to club_path(@club), method: :delete, 
            data: { confirm: '¿Eliminar perfil?' },
            class: 'red-btn btn-sm' do %>
              <i class="fa fa-trash-o"></i>
              <b>Eliminar</b>
            <% end %>
          <% end %> 
        </div>
      </div>
      <div class="club-events">
        <span class="club-events-title">
          <b>Eventos</b>
        </span>
        <% if @events.empty? %>
            <p class="club-events-empty">No hay eventos próximos</p>
        <% end %>    
        <% @events.each do |c| %>
          <div class="club-event-item">
            <img src="<%= c.image.url %>">
            <span>
                <h1><%= c.name %></h1>
                <%= link_to "Ver evento", club_clubevent_path(@club, c), class: 'hot-pink-btn btn-xs' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="club-right-column">
      <div class="club-address-section">
        <p>
          <i class="fa fa-map-marker"></i>
          <span>
            <%= @club.address.split(',')[0] %> -
            <%= @club.address.split(',')[1]%>
          </span>
        </p>
        <div class="map">
          <div id="map" data-latitude="<%= @club.latitude %>" 
          data-longitude="<%= @club.longitude %>" 
          data-markerName="<%= @club.name %>"></div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="club-main-container">
    <div class="club-stuff-container">
        <div class="club-events-galery">
          <div class="club-galery">
            <p>Conocé el lugar</p>
          </div>
        </div>
    </div>
  </div>
  -->
  <!-- Modals -->
  <% if current_user.is_admin? %>
    <div class="modal fade" id="AddFeature">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">
              Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Servicios y comodidades</h4>
          </div>
          <div class="modal-body">
            <%= form_for :feature, url: club_features_path(@club), 
            remote: true, html:{id: :new_feature} do |f| %>
              <div class="modal-main-column">
                <div>
                  <%= f.label "Tipo de servicio" %><br>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>
              <div class="modal-btns">
                <%= f.submit "Agregar", class: "btn mint-btn" %>
                <button type="button" class="btn hot-pink-btn" 
                data-dismiss="modal">Cancelar</button>
              </div>
            <% end %>
          </div>  
        </div>
      </div>
    </div>
    <div class="modal fade" id="AddMusic">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
            Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Música</h4>
          </div>
          <div class="modal-body">
            <%= form_for :music, url: club_musics_path(@club), 
            remote: true, html:{id: :new_music} do |f| %>
              <div class="modal-main-column">
                <div>
                  <%= f.label "tipo de musica" %><br>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>  
              <div class="modal-btns">
                <%= f.submit "Agregar", class: "btn mint-btn" %>
                <button type="button" class="btn hot-pink-btn" 
                data-dismiss="modal">Cancelar</button>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="EditProfile">
      <div class="modal-dialog" style="color: black;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
            Cerrar</span></button>
            <h4 class="modal-title">Editar</h4>
          </div>
          <div class="modal-body">
            <%= form_for :club, url: club_path(@club), method: :patch do |c| %>
              <div class="modal-left-column">
                <div>
                  <%= c.label "Nombre"%><br>
                  <%= c.text_field :name, :placeholder => 'Nombre',
                  class: "form-control" %>
                </div>
                <div>
                  <%= c.label "Dirección"%><br>
                  <%= c.text_field :address, id: "new-club-address",
                  class: "form-control", placeholder: 'Escribe una dirección...' %>
                </div>
                <div>
                  <%= c.label "Facebook" %><br>
                  <%= c.text_field :facebook, class: "form-control",
                  placeholder: "Facebook" %>
                </div>
                <div>
                  <%= c.label "Twitter" %><br>
                  <%= c.text_field :twitter, class: "form-control",
                  placeholder: "Twitter" %>
                </div>
              </div>
              <div class="modal-right-column">
                <div>
                  <%= c.label "Google+" %><br>
                  <%= c.text_field :googleplus, class: "form-control",
                  placeholder: "Google Plus" %>
                </div>
                <div>
                  <%= c.label "Instagram" %><br>
                  <%= c.text_field :instagram, class: "form-control",
                  placeholder: "Instagram" %>
                </div>
                <div>
                  <%= c.label "Youtube" %><br>
                  <%= c.text_field :youtube, class: "form-control",
                  placeholder: "Youtube" %>
                </div>
                <div>
                  <%= c.label "Logo" %><br>
                  <%= c.file_field :logo %>
                </div>
              </div>  
              <div class="modal-btns">
                <%= c.submit "Guardar", class: "btn mint-btn" %>
                <button type="button" class="btn hot-pink-btn" 
                data-dismiss="modal">Cancelar</button>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.is_admin? || 
    current_user.is_pr? && current_user.club_id == @club.id %>
    <div class="modal fade" id="CreateEvent">
      <div class="modal-dialog" style="color: black;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
            Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Nuevo evento</h4>
          </div>
          <div class="modal-body">
            <%= form_for :clubevent, url: club_clubevents_path(@club) do |e| %>
              <div class="modal-main-column">
                <div>
                  <%= e.label "Nombre" %><br>
                  <%= e.text_field :name, placeholder: "Nombre",
                  class: "form-control" %>
                </div>
                <div>
                  <%= e.label "Fecha" %><br>
                  <%= e.date_select :date, :start_year => Date.current.year, 
                  :end_year => Date.current.year+5 %>
                </div>
                <div>
                  <%= e.label "Hora" %><br>
                  <%= e.time_select :hour, :ignore_date => true %>
                </div>
                <div>
                  <%= e.label "Edad" %><br>
                  <%= e.select :age, [['+16'],['+18'],['+21'],['+23'],['+25']] %>
                </div>
                <div>
                  <%= e.label "Descripción" %><br>
                  <%= e.text_area :description, class: "form-control" %>
                </div>
                <div>
                <%= e.label "Imagen de portada" %><br>
                  <%= e.file_field :image %>
                </div>
              </div>  
              <div class="modal-btns">
                <%= e.submit "Crear evento", class: "btn mint-btn" %>
                <button type="button" class="btn hot-pink-btn" 
                data-dismiss="modal">Cancelar</button>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  <% end %> 

  <!-- Goole maps -->
  <script type="text/javascript">
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {
          maxZoom: 17, 
          minZoom: 14,
          disableDefaultUI: true
        }, 
      internal: {id: "map"}}, function(){
        markers = handler.addMarkers([
          {
            "lat": $("#map").data('latitude'),
            "lng": $("#map").data('longitude'),
            "picture": {
              "url": "http://uptownartsdistrict.org/wp-content/uploads/leaflet-maps-marker-icons/map-marker.png",
              "width":  40,
              "height": 40
            }
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  </script>

  <!-- Share buttons -->
  <div class="sharer">
    <ul>
      <li>
        <!-- Facebook -->
         <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>" target="popup"
         onClick="window.open(this.href, this.target, 'width=600,height=400, top=200, left=300'); return false;"
         title="Compartir en Facebook" class="btn btn-facebook facebook-share">
         <i class="fa fa-facebook"></i></a>
         <span class="arrow_box fbCount">0</span>
      </li>
      <li>
        <!-- Twitter -->
        <a href="http://twitter.com/share?url=<%=request.url%>&text=<%= @club.name %>&via=Flyr&hashtags=FlyrLove"
        target="popup" onClick="window.open(this.href, this.target, 
        'width=600,height=400, top=200, left=300'); return false;" 
        title="Tweet" class="btn btn-twitter twitter-share">
          <i class="fa fa-twitter"></i></a>
        <span class="arrow_box twCount">0</span>
      </li>
      <li>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=<%= request.url%>" 
        target="popup" onClick="window.open(this.href, this.target, 
        'width=600,height=400, top=200, left=300'); return false;" 
        title="Compartir en Google+" class="btn btn-google-plus google-share">
        <i class="fa fa-google-plus"></i></a>
      </li>
    </ul>
  </div>

</body>