<body class="unique">
	  <div class="container">
	  	<% if resource.errors.empty? %>
			<% else %>  
			  <div id="devise_error" class="alert alert-danger">
			    <%= devise_error_messages! %>
			  </div>
			<% end %>
	    <div class="other-forms">
	      <div id="form">
	      	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	        <h2>Crear cuenta</h2>

	        <div class="elements">
	        <%= f.text_field :username, autofocus: true, :placeholder => "Nombre de usuario", class: "form-control" %></div>

	        <div class="elements">
	        <%= f.email_field :email, :placeholder => "Email", class: "form-control" %></div>

	        <div class="elements"><% if @validatable %>(<%= @minimum_password_length %> caracteres mínimo)<% end %>
	        <%= f.password_field :password, autocomplete: "off", :placeholder => "Contraseña", class: "form-control" %></div>

	        <div class="elements">
	        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirmar", class: "form-control" %></div>

	        <div class="elements"><%= f.submit "Crear", class: "btn btn-warning" %></div>

	        <%= render "devise/shared/links" %>
	      </div>
	    </div>
	  </div>	
	<% end %>
</body>