<head>
  <title><% @title = @event.name %></title>
  <% content_for :head do %>
    <meta name="description" content="<%= @event.description %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta property="og:image" content="<%= @event.image.url %>">
    <meta property="og:url" content="<%= request.url%>">
    <meta property="og:description" content="<%= @event.description %>">
    <meta property="og:site_name" content="Flyr">
  <% end %>
</head>
<body class="events">
  <div class="headerbg">
    <div class="container header-content">
      <div class="row">
        <p class="event-name"><%= @event.name %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="event-buttons">
      <button type="button" class="btn btn-info btn-sm" 
      data-toggle="modal" data-target="#editEvent">Editar evento</button>
      <%= link_to 'Borrar evento', event_path(@event),
      method: :delete, data: { confirm: 'Eliminar?' },
      class: 'btn btn-danger btn-sm' %>
    </div>

    <div class="modal fade" id="editEvent" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
            Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar</h4>
          </div>
          <%= form_for :event, url: event_path(@event), method: :patch do |e| %>
            <div class="modal-body">
              <div class="row">
                <%= e.text_field :name, :placeholder => 'Nombre del evento',
                class: 'form-control name-address-field' %>
                <%= e.text_field :address, :placeholder => 'Dirección',
                class: 'form-control name-address-field' %>
              </div>
              <div class="row modal-row-2">
                <%= e.label "Fecha", class: 'label label-danger title-label' %>
                <%= e.date_select :date, :start_year => Date.current.year, 
                :end_year => Date.current.year+5 %>

                <%= e.label "Hora", class: 'label label-danger title-label' %>
                <%= e.time_select :hour, :ignore_date => true %>

                <%= e.label "Edad", class: 'label label-danger title-label' %>
                <%= e.select :age, [['+16'],['+18'],['+21'],['+23'],['+25']] %>
              </div>
              <div class="row">
                <h4><%= e.label "Descripción del evento", 
                class: 'label label-success title-label' %></h4>
                <%= e.text_area :description, class: 'desc-area' %>
              </div>
              <div class="row modal-row-4">
                <%= e.label "Portada", class: 'image-title' %>
                <%= e.file_field :image %>

                <%= e.label "Logo", class: 'image-title' %>
                <%= e.file_field :event_logo %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
              data-dismiss="modal">Cancelar</button>
              <%= e.submit "Guardar", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row event-image">
      <img src="<%= @event.image.url %>" style="width: 100%; max-height: 1000px;">
    </div>
  </div>  
  <div class="container event-content">
    <div class="col-lg-8">
      <p class="description-name"><%= @event.name %></p>
      <p><%= @event.description %></p>
      <hr class="featurette-divider">
      <% if @list.present? %>
        <ul class="event-lists">
          <% @list.each do |l| %>
            <li>
              <div class="list-content">
                <div class="col-lg-2 list-container-img">
                  <img class="list-img" src="<%= l.list_image.url %>">
                </div>
                <div class="col-lg-4 list-text">
                  <p>Lista de <%= l.list_name %></p>
                </div>
                <div class="col-lg-4 list-btns">
                  <%= form_for :clublist_user, url: event_list_listusers_path(@event, l) do |f| %>
                    <%= f.submit "Anotarme", class: "btn btn-default btn-xs addName" %>
                  <% end %>
                  <%= link_to 'Borrar lista', event_list_path(@event, l),
                  method: :delete, data: { confirm: 'Eliminar?' },
                  class: 'btn btn-danger btn-xs' %>
                  <% @listuser.each do |lu| %>
                    <% if lu.username == current_user.username %>
                      <%= link_to 'Salir de lista', event_list_listuser_path(@event, l, lu),
                      method: :delete, data: { confirm: 'Eliminar?' },
                      class: 'btn btn-danger btn-xs' %>
                    <% end %>
                  <% end %>
                </div>  
              </div>
            </li>  
          <% end %>
        </ul>
      <% end %>  
      <div class="map">
        <div id="map" data-latitude="<%= @event.latitude %>" 
        data-longitude="<%= @event.longitude %>" 
        data-markerName="<%= @event.name %>"
        style='height: 300px;'></div>
      </div>
      <h1>Eventos cercanos</h1>
      <% for e in @event.nearbys(2) %>
        <% if e.date == @event.date %>
          <div id="events-pic" class="pic">
            <img src="<%= e.event_logo.url %>" class="pic-image" alt="Pic">
            <span id="pic-caption-events" class="pic-caption open-down">
              <h1 class="pic-title"><%= e.name %></h1>
              <p class="pic-subtitle"><%= e.address.partition(',').first %></p>
              <%= link_to 'Ver evento', e, class: 'btn btn-default btn-sm' %>
            </span>
          </div>
        <% end %>  
      <% end %>
      <div class="row" style="margin-left: 0px;">
        <%= link_to 'Inicio', home_path, class: 'btn btn-primary' %>
        <%= link_to 'Volver', :back, class: 'btn btn-primary' %>
        <%= form_for :list, url: event_lists_path(@event) do |f| %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div id="info-col" class="col-lg-4">
      <div class="container event-logo" 
        style="background-image: url(<%= @event.event_logo.url %>);">
      </div>
      <ul class="info-list">
        <li class="address-item">
          <p class="address-title">Dirección:</p>
        </li>
        <li>
          <p class="address"><%= @event.address.partition(',').first %></p>
        </li>
        <li class="info-item">
          <p class="date"><i class="fa fa-calendar fa-cal"></i>
          <%= l @event.date, :format => '%B' %>
          <b><%= @event.date.strftime('%d') %></b></p>
          <p class="hour-age"><i class="fa fa-clock-o fa-clo"></i>
          Hora<b><%= @event.hour.strftime("%H:%M") %></b></p>
          <p class="hour-age"><i class="fa fa-thumbs-up fa-thumbs"></i>
          Edad<b><%= @event.age %></b></p>
        </li>
      </ul>
      <hr class="featurette-divider">
    </div>
  </div>

  <!-- Share buttons -->
  <div class="sharer">
    <ul>
      <li>
        <!-- Facebook -->
         <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>" target="popup"
         onClick="window.open(this.href, this.target, 'width=600,height=400, top=200, left=300'); return false;"
         title="Compartir en Facebook" class="btn btn-facebook facebook-share">
         <i class="fa fa-facebook"></i></a>
         <span class="arrow_box fbCount">0</span>
      </li>
      <li>
        <!-- Twitter -->
        <a href="http://twitter.com/share?url=<%=request.url%>&text=<%= @event.name %>&via=Flyr&hashtags=FlyrLove"
        target="popup" onClick="window.open(this.href, this.target, 
        'width=600,height=400, top=200, left=300'); return false;" 
        title="Tweet" class="btn btn-twitter twitter-share">
          <i class="fa fa-twitter"></i></a>
        <span class="arrow_box twCount">0</span>
      </li>
      <li>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=<%= request.url%>" 
        target="popup" onClick="window.open(this.href, this.target, 
        'width=600,height=400, top=200, left=300'); return false;" 
        title="Compartir en Google+" class="btn btn-google-plus google-share">
        <i class="fa fa-google-plus"></i></a>
      </li>
    </ul>
  </div>

  <!-- Goole maps -->
  <script type="text/javascript">
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {
          maxZoom: 17, 
          minZoom: 13,
          mapTypeControl: false,
          panControl: false,
          noClear: true
        }, 
      internal: {id: "map"}}, function(){
        markers = handler.addMarkers([
          {
            "lat": $("#map").data('latitude'),
            "lng": $("#map").data('longitude'),
            "picture": {
              "url": "http://uptownartsdistrict.org/wp-content/uploads/leaflet-maps-marker-icons/map-marker.png",
              "width":  40,
              "height": 40
            }
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
      });
    })
  </script>
</body>   