<body class="unique">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="sign_in">
      <div id="form">
        <h2>Iniciar sesión</h2>
        <h5 class="label label-danger">Exclusivo para públicas</h5>

        <div class="elements">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "form-control" %></div>

        <div class="elements">
        <%= f.password_field :password, :placeholder => "Password", class: "form-control" %></div>

        <% if devise_mapping.rememberable? -%>
          <div class="elements"><%= f.check_box :remember_me %> <%= f.label :remember_me, "Recordarme" %></div>
        <% end %>

        <div class="elements"><%= f.submit "Ingresar", class: "btn btn-warning" %></div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="container">
  	<div class="fb-btn">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          Iniciar sesión con Facebook
        </a>
      <% end %>
    </div>
  </div>

  <footer>
    <div class="container">
      <p class="copy">© 2014 QUE SALE HOY. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
  </footer>	
</body>

