<head>
  <title><%= @title = 'Flyr' %></title>
</head>
<body class="welcome-body">
  <div class="banner">
    <div class="layout">
      <div id="sign_in_btn">
        <a href="#" class="round">
          <span>Ingresar</span>
          <span class="round">Descubrí todo lo que tiene Flyr para vos</span>
        </a>
      </div>
      <div class="navWrapper">
        <nav class="navbar welcomeNav" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                      data-target=".navbar-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Flyr</a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse"> 
              <ul class="nav navbar-nav nav-info">
                <li class="navbar-item">
                  <a href="#" data-toggle="modal" data-target="#rrpp-modal">¿Sos RRPP?</a>
                </li>
                <li class="navbar-item">
                  <a href="#" data-toggle="modal" data-target="#nosotros-modal">Nosotros</a>
                </li>
                <li><a href="#">Planes</a></li>
                <li class="navbar-item"><a href="/users/sign_up">Crear</a></li>
              </ul>
            </div>
          </div>  
        </nav>
      </div>
      <!-- Sign in form -->
      <div class="">
        <div class="welcome-alert">
          <% if alert %>
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <p><%= alert %></p>
            </div>
          <% end %>
        </div>
        <div class="sign_in_container">
          <div class="sign_in_form">
            <div class="header">
              <i id="close" class="ion-android-close"></i>
              <h2>Iniciar sesión</h2>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="input-group form-content">
                <span class="input-group-addon"><i class="ion-person"></i></span>
                <%= f.text_field :username, autofocus: true, autocomplete: "off",
                 :placeholder => "Usuario", 
                 class: "form-control sign_in_field" %>
              </div>
              <div class="input-group form-content">
                <span class="input-group-addon"><i class="ion-locked"></i></span>
                <%= f.password_field :password, :placeholder => "Contraseña",
                class: "form-control sign_in_field" %>
              </div>
              <div class="form-content"><%= f.submit "Ingresar", class: "btn btn-default" %></div>
              <div class="links">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
            <div class="oauth-btns">
              <% if current_user %>
                Signed in as <strong><%= current_user.username %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              <% else %>
                <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                  <i id="social-icons" class="fa fa-facebook"></i>
                  Iniciar sesión
                </a>
              <% end %>
              <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
                  <i id="social-icons" class="fa fa-twitter"></i>
                  Iniciar sesión
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="logo">Flyr</p>
      <p class="slogan">Salir nunca fue tan facil</p>
      <div class="arrow-down bounce"></div>
    </div>  
  </div>
  <div id="steps" class="steps">
    <p class="title">Facil <i class="ion-happy"></i></p>
    <div class="numbers">
      <img class="img-circle" src="http://s18.postimg.org/x9usn9hw9/image.png" alt="Generic placeholder image">
      <h3>Inicias sesión</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <button id="details-button" type="button" class="btn btn-default"
       data-toggle="modal" data-target="#myModal">
        <i class="ion-information-circled"></i>
        <span>Mas detalles</span>
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="numbers">
      <img class="img-circle" src="http://s18.postimg.org/58gr9kcm1/image.png" alt="Generic placeholder image">
      <h3>Elegís un evento</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <button id="details-button" type="button" class="btn btn-default"
       data-toggle="modal" data-target="#myModal">
        <i class="ion-information-circled"></i>
        <span>Mas detalles</span>
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="numbers">
      <img class="img-circle" src="http://s18.postimg.org/avd471f4p/image.png" alt="Generic placeholder image">
      <h3>Pones tu nombre en lista</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <button id="details-button" type="button" class="btn btn-default"
       data-toggle="modal" data-target="#myModal">
        <i class="ion-information-circled"></i>
        <span>Mas detalles</span>
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container photos">
    <div class="row first">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMjAzMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMjAzMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMjAzMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
      </div>
    </div>
  </div>
</body>  
